@model CastsViewModel
@{
    ViewData["Title"] = "Index";
}

<br />

<a asp-action="Create" class="btn btn-success">Create</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">FullName</th>
            <th scope="col">RoleName</th>
            <th scope="col">BirthDay</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Casts)
        {
            <tr>

                <td>@item.FullName</td>
                <td>@item.RoleName</td>
                <td>@item.BirthDay</td>
                <td>
                   
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> ||
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }



    </tbody>
</table>


